html, body {
  background-color:pink;
}
canvas {
  display: block;
}
#my-container{
  background-color: whitesmoke;
  width: 400px;
  height:400px;
  border: 3px solid palevioletred;
position: absolute;
left:500px;
top:100px
}

.title {
  margin-left: 630px;
 font-weight: bold;
 font-size: 40px;
  color:white;
}

.description{
margin-top: 420px;
    margin-left: 700px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size: 15px;
  color:white 
  }

  .instruction{
 
  position: absolute;
    margin-top: -400px;
    margin-left: 9px;
    color:whitesmoke;
 
    font-size: larger;
    text-align:left;
    
  }

  .explanation{
    margin-left: 950px;
margin-top:-400px;
color:white;
    font-size: larger;
  }
